.btn {
  /* // done using tailwindcss */
}

.btn.active {
  background-color: #00ff03;
  color: white;
}

.btn.inactive {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #432354;
}
